services:
  eureka-service:
    build:
      context: .
      dockerfile: eureka-service/Dockerfile
    image: jwww684/eureka:latest
    ports:
      - "8091:8091"
    networks:
      - ms-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8091/eureka/apps"]
      interval: 10s
      timeout: 5s
      retries: 10

  order-service:
    build:
      context: .
      dockerfile: order-service/Dockerfile
    image: jwww684/order:latest
    ports:
      - "8081:8081"
    networks:
      - ms-network
    depends_on:
      eureka-service:
        condition: service_healthy

  product-service:
    build:
      context: .
      dockerfile: product-service/Dockerfile
    image: jwww684/product:latest
    ports:
      - "8082:8082"
    networks:
      - ms-network
    depends_on:
      eureka-service:
        condition: service_healthy

  auth-service:
    build:
      context: .
      dockerfile: auth-service/Dockerfile
    image: jwww684/auth:latest
    ports:
      - "8092:8092"
    networks:
      - ms-network
    depends_on:
      eureka-service:
        condition: service_healthy

  api-gateway:
    build:
      context: .
      dockerfile: api-gateway/Dockerfile
    image: jwww684/api-gateway:latest
    ports:
      - "8090:8090"
    networks:
      - ms-network
    depends_on:
      eureka-service:
        condition: service_healthy
      order-service:
        condition: service_started
      product-service:
        condition: service_started
      auth-service:
        condition: service_started

networks:
  ms-network:
